<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yujian95.little.mbg.modules.user.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yujian95.little.mbg.modules.user.entity.UserInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="open_id" property="openId" />
        <result column="agency_id" property="agencyId" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="status" property="status" />
        <result column="logic_delete" property="logicDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

</mapper>
